{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search_eng</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav style="background-color: #483D8B">
        <div class="container nav-wrapper ">
            <a href="/" class="brand-logo">Search Engine</a>
            <ul id="nav-mobile" class="right">
                <li style="font-weight:bold"><a href="/">Home</a></li>
            </ul>
        </div>
    </nav>
<div class="container">
    <h1 style="text-align: center; font-size: 40px;"> What do you want to search on <strong style="color:#483D8B">OLX</strong> or <strong style="color:#483D8B">PROM</strong>?</h1>
    <div class="row">
        <div class="col s4">
            <div class="center">
                <i class="large material-icons" style="color: black">flash_on</i>
                <p style="font-weight:bold">Fast OLX/Prom web scraper</p>
                <p class="light center">Scrape away right here with a beautiful GUI</p>
            </div>
        </div>

        <div class="col s4">
            <div class="center">
                <i class="large material-icons" style="color: black">camera</i>
                <p style="font-weight:bold">Filter your searches</p>
                <p class="light center">We built in functionality to filter based on pricing</p>
            </div>
        </div>

        <div class="col s4">
            <div class="center">
                <i class="large material-icons" style="color: black">chrome_reader_mode</i>
                <p style="font-weight:bold">Easygoing GUI</p>
                <p class="light center">Scrape easy and fast</p>
            </div>
        </div>
    </div>

    <form action="{% url 'new_search' %}" method="post"> {% csrf_token %}
            <input type="text" name="search" placeholder="Search">
            <button class="btn waves-effect waves-light black" type="submit" name="action">Submit
                <i class="material-icons right">chevron_right</i>
            </button>
    </form>

    {% block content %}

    {% endblock content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</div>
</body>
</html>