{% extends 'base.html' %}

{% block content %}
    <h2 style="text-align: center; font-weight: bold">{{search | title}}</h2>
    <div class="row">
        {% for tab in final_tabs %}
        <div class="col s4">
            <div class="card" style="height: 400px; overflow: hidden">
                <div class="card-image" style="height: 250px; overflow: hidden;">
                    <a href="{{ tab.1 }}"><img src="{{ tab.4 }}" alt=""></a>
                </div>
                <div class="card-content">
                    <p>{{ tab.0 }}</p>
                </div>
                <div class="card-action">
                   <a href="{{ tab.1 }}" style="color:black"><span>{{ tab.2 }}</span><br>{{ tab.3 }}</a>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>




{% endblock content %}




